/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600;700&display=swap');

/* MAIN */

body {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}

strong {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

path {
  stroke: black;
  stroke-width: 2px;
  opacity: 0.85;
}

hr {
  margin: 4px 0 12px 0;
}

p {
  margin-bottom: 8px;
}

#sidebar {
  box-shadow:
     5px 0px 15px -5px #00000020,
    -5px 0px 15px -5px #00000020;
  z-index: 10;
}

#rsid_div {
  width: 300px;
  margin: 0 auto;
  display: inline;
}

.rsid_input {
  padding: 3px 10px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rsid_button {
  padding: 3px 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: filter 0.15s ease-in-out;
  display: inline-block;
}

.rsid_button.show, .rsid_button:active, .rsid_button:hover, .rsid_button:focus {
  filter: brightness(92%);
}


#rsid_input {
   border-radius: 3px 0 0 3px;
}

#random_rsid {
  border-radius: 0 3px 3px 0;
}

#rsid_input:focus,
#random_rsid:focus {
  box-shadow: 0 0 0 3px #007bff80;
  z-index: 1;
  outline: none;
}

.popup {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popup p {
  margin: 2px 0;
}

.popup h6 {
  margin-bottom: 12px;
}

@media (max-width: 1400px) {
  #leaflet_map {
    height: 90vh !important;
  }
  
  #sidebar {
    background-color: #fff;
    padding: 20px;
    max-height: none;
  }
}

@media (min-width: 1400px) {
  #leaflet_map {
    height: 100vh !important;
  }
  
  #sidebar {
    background-color: #fff;
    padding: 20px;
    max-height: 100vh;
    overflow-y: scroll;
  }
}
